<p>
    <a href="/boats/biggest">How big is our biggest boat?</a>
</p>
<p>
    <a href="boats/smallest">How small is our smallest boat?</a>
</p>
<h2>All members:</h2>
{{#each members}}
    <p>
        <a href="/members/{{this.member_id}}">
            {{this.member_name}}
        </a>
    </p>
{{/each}}
