<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Jolly Pirate Boat Club</title>
    <link rel="icon" type="image/png" href="/img/pirate-47705__340.png">
</head>
<body>
    <h2><a href="/members">Members</a></h2>
    <h2><a href="/berths">Berths</a></h2>
    <h2><a href="/events">Events</a></h2>
    
    <!-- Page content -->
    {{{ body }}}
    
</body>
</html>