<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Jolly Pirate Boat Club</title>
    <link rel="icon" type="image/png" href="/img/pirate-47705__340.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <section id="main-section">
        <header>
        <div id="pirate-pic">
            <img src="/img/pirate-47705__340.png" alt="Jolly Pirate">
        </div>

        <h1>The Jolly Pirate Boat Club</h1>

        <div id="menu">
            <p><a href="/">Home</a></p>
            <p><a href="/members">Members</a></p>
            <p><a href="/boats">Boats</a></p>
        </div>
        </header>
        
        <!-- Page content -->
        <div id="content">
            {{{ body }}}
        </div>
    </section>
</body>
</html>